* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Oswald", sans-serif;
  background-color: #dce2e6;
  color: #000;
}

img {
  max-width: 100%;
  height: auto;
}

.card {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 55px 0px rgba(181, 196, 206);
  padding-top: 44px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 60px;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: 980px;
}

.card-img-wrapper {
  /* position: absolute;
    top: 0;
    left: 60px;
    float: left; */

  /* background-color: red; */
  /* height: 100%;
    width: 367px; */
}

.card-content-wrapper {
  float: right;

  /* background-color: rgb(243, 243, 243); */
  width: 441px;
}

.card-img {
  position: absolute;
  left: -192px;
  top: 50%;
  transform: translate(0, -50%);
  max-width: initial;
}

.card-title {
  font-weight: 500px;
  font-size: 38px;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 26px;
}

.card-details-wrapper {
  margin-bottom: 31px;
}

.card-lable {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1;
  color: #c8cdd0;
  text-transform: uppercase;
}

.card-price {
  font-size: 24px;
  line-height: 1;
  font-weight: 600;
  text-transform: uppercase;
}

.card-color {
  float: left;
  width: 24px;
  height: 24px;
  background-color: black;
  border-radius: 50%;
  margin-right: 8px;
}

.card-colors-wrapper {
  margin-top: 14px;
  margin-left: 1px;
}

.card-colors-wrapper::after {
  content: "";
  display: block;
  clear: both;
}

.card-color-yellow {
  background: rgb(254, 246, 118);
  background: linear-gradient(
    135deg,
    rgba(254, 246, 118, 1) 0%,
    rgba(237, 182, 29, 1) 100%
  );
}

.card-color-red {
  background-color: #d70909;
  background: linear-gradient(
    135deg,
    rgba(239, 31, 31, 1) 0%,
    rgba(191, 12, 12, 1) 100%
  );
}

.card-color-gray {
  background-color: #909090;
  background: linear-gradient(
    135deg,
    rgba(165, 165, 165, 1) 0%,
    rgba(115, 115, 115, 1) 100%
  );
}

.card-color-active {
  border: 4px solid #393939;
}

.card-text {
  color: #6c757f;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 39px;
  margin-top: 34px;
}

.card-text p {
  margin-bottom: 18px;
  line-height: 1.27;
}

.card-buttons-wrapper::after {
  content: "";
  display: block;
  clear: both;
}

.button-primary {
  float: left;
  background-color: #ffd01e;
  text-transform: uppercase;
  border-radius: 4px;
  vertical-align: top;

  font-weight: 600;
  font-size: 22px;

  height: 68px;
  line-height: 66px;
  padding-left: 31px;
  padding-right: 31px;
}

.button-outline {
  float: right;
  text-transform: uppercase;
  border-radius: 4px;
  border: 3px solid #545454;
  vertical-align: top;
  margin-right: 7px;

  color: #545454;
  font-weight: 600;
  font-size: 22px;

  height: 68px;
  line-height: 62px;
  padding-left: 29px;
  padding-right: 29px;
}
